Source: anoise
Section: sound
Priority: extra
Standards-Version: 0.0.25
Maintainer: costales <costales.marcos@gmail.com>
Build-Depends: python-distutils-extra, debhelper (>=7)
Homepage: https://code.launchpad.net/anoise

Package: anoise
Architecture: all
Section: sound
Priority: extra
Depends: python-gst0.10, gir1.2-gstreamer-0.10, gir1.2-gtk-3.0, anoise-media, ${python:Depends}
Breaks: anoise (<< 0.0.9)
Replaces: anoise (<< 0.0.9)
Description: Ambient Noise Player
 Relax or concentrate with a noise
